@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.merriweather {
  font-family: "Merriweather", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.banner {
  max-width: 1320px;
  margin: 50px auto 120px auto;
}

.banner-subtitle {
  font-size: 32px;
  color: white;
  margin-bottom: 26px;
}

.banner-title {
  color: white;
  font-size: 72px;
  font-weight: 900;
}

.banner-content {
  background-image: linear-gradient(
      to bottom,
      rgba(7, 2, 17, 1),
      rgba(7, 2, 17, 0)
    ),
    url(../images/Banner\ Image.png);
  padding: 180px 350px;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 16px;
}
