@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

/* UNIVERSAL STYLES */
* {
  padding: 0;
  margin: 0;
}

/* SHARED STYLES */
.merriweather {
  font-family: "Merriweather", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  border: none;
  padding: 16px 32px;
  background-color: #ff0000;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

/* BANNER SECTION STYLES */
.banner {
  max-width: 1320px;
  margin: 50px auto 120px auto;
}

.banner-subtitle {
  font-size: 32px;
  color: white;
  margin-bottom: 26px;
}

.banner-title {
  color: white;
  font-size: 72px;
  font-weight: 900;
}

.banner-content {
  background-image: linear-gradient(
      to bottom,
      rgba(7, 2, 17, 1),
      rgba(7, 2, 17, 0)
    ),
    url(../images/Banner\ Image.png);
  padding: 180px 350px;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 16px;
}

/* OFFER SECTION STYLES */
main {
  max-width: 1320px;
  margin: 0 auto;
}

.offer-container {
  text-align: center;
  margin-bottom: 120px;
}

.offer-container h1 {
  font-size: 88px;
  font-weight: 700;
  color: #ff0000;
  margin-bottom: 50px;
}

.offer-container h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.offer-container h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

.party {
  margin-bottom: 120px;
}

.party-container {
  background-image: linear-gradient(
      to right,
      rgba(7, 2, 17, 1),
      rgba(7, 2, 17, 0)
    ),
    url(../images/Vectorrr.png);
  padding: 60px 126px 70px 126px;
  background-repeat: no-repeat;
  display: flex;
  gap: 40px;
  align-items: center;
  border-radius: 16px;
}

.party h2 {
  font-size: 64px;
  font-weight: 900;
  color: white;
  margin-bottom: 24px;
}

.party p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}


/* date section styles */
.date-container{
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, .1), rgba(255, 0, 0, 0));
    padding: 110px 0;
    border-radius: 16px;
    margin-bottom: 120px;
    
}
.date-container p{
    font-size: 32px;
    font-weight: 600;
    color: rgba(7, 2, 17, 1);
    margin-bottom: 20px;
}

.date-container span{
    color: rgba(255, 0, 0, 1);
}